@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@400;600;868&display=swap");
* { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html { scroll-behavior: smooth; }

ul { list-style: none; }

a { text-decoration: none; }

img { max-width: 100%; height: auto; }

.main { overflow-x: hidden; }

/* ========= COLOR PALETTE ========== */
/* ========= COLOR ========== */
/* ========= FONT & TYPO =========== */
/* ======= FONT WEIGHT ======= */
/*========== Margenes Bottom ==========*/
body { font-family: "Monserrat", sans-serif; font-size: 16px; background-color: #f0f0f0; color: #212121; }

h1 { color: #100000; font-family: "Work Sans", sans-serif; font-weight: 1000; }

.main { /* Options Sections */ }

.main .navbar .navbar-brand { font-weight: 300; font-size: 0.8em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.main .navbar .nav-item .nav-link { color: #100000; }

.main .navbar .nav-item .nav-link:hover { color: #ff5733; }

.main .home { height: 80vh; }

.main .home__container { height: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 1.1fr 0.9fr; grid-template-rows: 1.1fr 0.9fr; gap: 0px 0px; grid-auto-flow: row; grid-template-areas: "home__text" "home__text__subtitle"; }

.main .home__text { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: home__text; font-size: 2em; font-weight: 1000; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .home__text .text-focus-in { -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in { 0% { -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% { -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in { 0% { -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% { -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.main .home__text__subtitle { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: home__text__subtitle; font-size: 16px; font-weight: 600; margin: 0 1.5em 0 1.5em; }

.main .home__text__subtitle .text-focus-in { -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in { 0% { -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% { -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in { 0% { -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% { -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.main .home__icons { margin-top: 1.5em; }

.main .home__social-link { color: #100000; }

.main .img { height: 37vh; }

.main .img__middle { display: block; width: 25em; margin: 0 auto; border-radius: 20px; }

.main .img__background { position: relative; z-index: -1; height: 12vh; background-color: #2d2d2d; top: -7%; }

.main .slogan { height: 100vh; background-color: #2d2d2d; }

.main .slogan__container { height: 100%; }

.main .slogan__img .slogan__text { color: #ffffff; margin-left: 1.5em; font-weight: 600; }

.main .slogan__img .slogan__title { position: relative; margin: auto 0; margin: 65% 0 0 10%; font-weight: 1000; font-size: 2em; color: #ffffff; }

.main .slogan__img__button { position: absolute; display: block; margin-top: 8em; margin-left: 8em; height: 25em; }

.main .slogan__button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 50%; }

.main .slogan__button .buttonMoreSlogan { background-color: transparent; border: 2px solid #f0f0f0; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #f0f0f0; cursor: pointer; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin: 0; outline: none; overflow: visible; padding: 1.25em 2em; position: relative; text-align: center; text-decoration: none; text-transform: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 13px; }

.main .slogan__button .buttonMoreSlogan::before { content: " "; width: 1.5625rem; height: 2px; background: #f0f0f0; top: 50%; left: 1.5em; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center; transform-origin: center; -webkit-transition: background 0.3s linear, width 0.3s linear; transition: background 0.3s linear, width 0.3s linear; }

.main .slogan__button .buttonMoreSlogan .textSlogan { font-size: 1.125em; line-height: 1.33333em; padding-left: 2em; display: block; text-align: left; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; text-decoration: none; color: #f0f0f0; }

.main .slogan__button .buttonMoreSlogan .top-slogan { height: 2px; width: 1.5625rem; top: -2px; left: 0.625rem; position: absolute; background: #2d2d2d; -webkit-transition: width 0.5s ease-out, left 0.3s ease-out; transition: width 0.5s ease-out, left 0.3s ease-out; }

.main .slogan__button .buttonMoreSlogan .bottom-key-slogan-1 { height: 2px; width: 1.5625rem; right: 1.875rem; bottom: -2px; position: absolute; background: #2d2d2d; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .slogan__button .buttonMoreSlogan .bottom-key-slogan-2 { height: 2px; width: 0.625rem; right: 0.625rem; bottom: -2px; position: absolute; background: #2d2d2d; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .slogan__button .buttonMoreSlogan:hover { color: #ff5733; background: #2d2d2d; }

.main .slogan__button .buttonMoreSlogan:hover::before { width: 0.9375rem; background: white; }

.main .slogan__button .buttonMoreSlogan:hover .textSlogan { color: #ff5733; padding-left: 1.5em; }

.main .slogan__button .buttonMoreSlogan:hover .top-slogan { left: -2px; width: 0px; }

.main .slogan__button .buttonMoreSlogan:hover .bottom-key-slogan-1, .main .slogan__button .buttonMoreSlogan:hover .bottom-key-slogan-2 { right: 0; width: 0; }

.main .staff { height: 100vh; }

.main .staff__flex { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 2em; gap: 1em; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.main .staff__subtitle { margin: 1.5em 0 0 1.5em; font-weight: 600; }

.main .staff__title { font-size: 2em; font-weight: 1000; margin-left: 1em; }

.main .staff__description { text-align: justify; margin-right: 1em; }

.main .staff__button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 2em; }

.main .staff__button .buttonMoreSlogan { background-color: transparent; border: 2px solid #2d2d2d; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #2d2d2d; cursor: pointer; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin: 0; outline: none; overflow: visible; padding: 1.25em 2em; position: relative; text-align: center; text-decoration: none; text-transform: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 13px; }

.main .staff__button .buttonMoreSlogan::before { content: " "; width: 1.5625rem; height: 2px; background: #2d2d2d; top: 50%; left: 1.5em; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center; transform-origin: center; -webkit-transition: background 0.3s linear, width 0.3s linear; transition: background 0.3s linear, width 0.3s linear; }

.main .staff__button .buttonMoreSlogan .textSlogan { font-size: 1.125em; line-height: 1.33333em; padding-left: 2em; display: block; text-align: left; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; text-decoration: none; color: #2d2d2d; }

.main .staff__button .buttonMoreSlogan .top-slogan { height: 2px; width: 1.5625rem; top: -2px; left: 0.625rem; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, left 0.3s ease-out; transition: width 0.5s ease-out, left 0.3s ease-out; }

.main .staff__button .buttonMoreSlogan .bottom-key-slogan-1 { height: 2px; width: 1.5625rem; right: 1.875rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .staff__button .buttonMoreSlogan .bottom-key-slogan-2 { height: 2px; width: 0.625rem; right: 0.625rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .staff__button .buttonMoreSlogan:hover { color: #ff5733; background: #f0f0f0; }

.main .staff__button .buttonMoreSlogan:hover::before { width: 0.9375rem; background: white; }

.main .staff__button .buttonMoreSlogan:hover .textSlogan { color: #ff5733; padding-left: 1.5em; }

.main .staff__button .buttonMoreSlogan:hover .top-slogan { left: -2px; width: 0px; }

.main .staff__button .buttonMoreSlogan:hover .bottom-key-slogan-1, .main .staff__button .buttonMoreSlogan:hover .bottom-key-slogan-2 { right: 0; width: 0; }

.main .staff__right { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 3em; }

.main .staff__right__img1 { height: 20em; border-radius: 5px; -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07); box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07); }

.main .staff__right__img2 { border-radius: 5px; opacity: 0.65; height: 15em; }

.main .footer-03 { padding-top: 2em; background-color: #2d2d2d; height: 120vh; }

.main .footer-heading { color: #f0f0f0; }

.main .py-1 { color: #f0f0f0; }

.main .ftco-footer-social { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 1.5em; }

.main .footer__icon { color: #ff5733; }

.main .footer__terms { color: #ff5733; }

.main .footer__subs__button { background-color: #ff5733; border: #ff5733; color: #f0f0f0; }

.main .about { height: 60vh; background-image: url("../img/About.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }

.main .about__body { height: 100vh; }

.main .about__grid { height: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 0.3fr 1.7fr; grid-template-rows: 0.3fr 1.7fr; gap: 0px 0px; grid-auto-flow: row; grid-template-areas: "aboutTitleSection" "aboutButtons"; }

.main .about__title__section { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: aboutTitleSection; padding: 10% 0 0 12%; }

.main .about__title__section .tracking-in-expand { -webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  40% { opacity: 0.6; }
  100% { opacity: 1; } }

@keyframes tracking-in-expand { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  40% { opacity: 0.6; }
  100% { opacity: 1; } }

.main .about__title { color: #100000; font-size: 16px; font-weight: 1000; }

.main .about__subtitle { padding-top: 1em; }

.main .about__buttons { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: aboutButtons; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .about__buttons .buttonMoreSlogan { background-color: transparent; border: 2px solid #2d2d2d; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #2d2d2d; cursor: pointer; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin: 0; outline: none; overflow: visible; padding: 1.25em 2em; position: relative; text-align: center; text-decoration: none; text-transform: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 13px; }

.main .about__buttons .buttonMoreSlogan::before { content: " "; width: 1.5625rem; height: 2px; background: #2d2d2d; top: 50%; left: 1.5em; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center; transform-origin: center; -webkit-transition: background 0.3s linear, width 0.3s linear; transition: background 0.3s linear, width 0.3s linear; }

.main .about__buttons .buttonMoreSlogan .textSlogan { font-size: 1.125em; line-height: 1.33333em; padding-left: 2em; display: block; text-align: left; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; text-decoration: none; color: #2d2d2d; }

.main .about__buttons .buttonMoreSlogan .top-slogan { height: 2px; width: 1.5625rem; top: -2px; left: 0.625rem; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, left 0.3s ease-out; transition: width 0.5s ease-out, left 0.3s ease-out; }

.main .about__buttons .buttonMoreSlogan .bottom-key-slogan-1 { height: 2px; width: 1.5625rem; right: 1.875rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .about__buttons .buttonMoreSlogan .bottom-key-slogan-2 { height: 2px; width: 0.625rem; right: 0.625rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .about__buttons .buttonMoreSlogan:hover { color: #ff5733; background: #f0f0f0; }

.main .about__buttons .buttonMoreSlogan:hover::before { width: 0.9375rem; background: white; }

.main .about__buttons .buttonMoreSlogan:hover .textSlogan { color: #ff5733; padding-left: 1.5em; }

.main .about__buttons .buttonMoreSlogan:hover .top-slogan { left: -2px; width: 0px; }

.main .about__buttons .buttonMoreSlogan:hover .bottom-key-slogan-1, .main .about__buttons .buttonMoreSlogan:hover .bottom-key-slogan-2 { right: 0; width: 0; }

.main .connect { height: 60vh; background-image: url("../img/Connect.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position-x: center; }

.main .connect__body { height: 100vh; }

.main .connect__grid { height: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 0.4fr 1.2fr 1.2fr 1.2fr; grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr; gap: 0px 0px; grid-auto-flow: row; grid-template-areas: "connect__title__section" "connect__card1" "connect__card2" "connect__card3"; }

.main .connect__title__section { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: connect__title__section; padding: 5.5% 0 0 12%; }

.main .connect__title { color: #100000; font-weight: 600; }

.main .connect__title .tracking-in-expand { -webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  40% { opacity: 0.6; }
  100% { opacity: 1; } }

@keyframes tracking-in-expand { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  40% { opacity: 0.6; }
  100% { opacity: 1; } }

.main .connect__card1 { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: connect__card1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .connect__card2 { -ms-grid-row: 3; -ms-grid-column: 1; grid-area: connect__card2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .connect__card3 { -ms-grid-row: 4; -ms-grid-column: 1; grid-area: connect__card3; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .connect__btn { border: none; width: 295px; height: 250px; border-radius: 10px; cursor: pointer; background-size: 200%; -webkit-transition: 0.6s; transition: 0.6s; box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); }

.main .connect__btn1 { background-image: -webkit-gradient(linear, right top, left top, from(#1e130c), color-stop(#9a8478), to(#1e130c)); background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c); }

.main .connect__btn2 { background-image: -webkit-gradient(linear, right top, left top, from(#1e130c), color-stop(#9a8478), to(#1e130c)); background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c); }

.main .connect__btn3 { background-image: -webkit-gradient(linear, right top, left top, from(#1e130c), color-stop(#9a8478), to(#1e130c)); background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c); }

.main .connect__btn__title { color: #f0f0f0; font-size: 1.5em; font-weight: 600; }

.main .connect__btn__subtitle { color: #f0f0f0; letter-spacing: 0.3em; font-size: 0.8em; font-weight: 600; padding-top: 5%; }

.main .connect__btn:hover { background-position: right; }

.main .groups { height: 60vh; background-image: url("../img/Groups.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-position-x: center; background-size: cover; }

.main .groups__slogan { height: 60vh; }

.main .groups__grid__slogan { height: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 1fr 1fr; grid-template-rows: 1fr 1fr; gap: 0px 0px; grid-auto-flow: row; grid-template-areas: "groups__grid__title" "groups__buttons"; }

.main .groups__title { padding-top: 10%; color: #100000; font-size: 1.7em; font-weight: 600; }

.main .groups__subtitle { color: #6d6969; text-align: justify; letter-spacing: 0.1em; font-size: 0.8em; line-height: 1.6; font-weight: 600; padding: 5% 7% 0 7%; }

.main .groups__grid__title { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: groups__grid__title; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .groups__grid__title .tracking-in-expand { -webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  40% { opacity: 0.6; }
  100% { opacity: 1; } }

@keyframes tracking-in-expand { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  40% { opacity: 0.6; }
  100% { opacity: 1; } }

.main .groups__buttons { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: groups__buttons; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; }

.main .groups__buttons__left { color: #ff5733; }

.main .groups__buttons__left .buttonMoreSlogan { background-color: transparent; border: 2px solid #2d2d2d; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #2d2d2d; cursor: pointer; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin: 0; outline: none; overflow: visible; padding: 1.25em 2em; position: relative; text-align: center; text-decoration: none; text-transform: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 13px; }

.main .groups__buttons__left .buttonMoreSlogan::before { content: " "; width: 1.5625rem; height: 2px; background: #2d2d2d; top: 50%; left: 1.5em; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center; transform-origin: center; -webkit-transition: background 0.3s linear, width 0.3s linear; transition: background 0.3s linear, width 0.3s linear; }

.main .groups__buttons__left .buttonMoreSlogan .textSlogan { font-size: 1.125em; line-height: 1.33333em; padding-left: 2em; display: block; text-align: left; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; text-decoration: none; color: #2d2d2d; }

.main .groups__buttons__left .buttonMoreSlogan .top-slogan { height: 2px; width: 1.5625rem; top: -2px; left: 0.625rem; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, left 0.3s ease-out; transition: width 0.5s ease-out, left 0.3s ease-out; }

.main .groups__buttons__left .buttonMoreSlogan .bottom-key-slogan-1 { height: 2px; width: 1.5625rem; right: 1.875rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .groups__buttons__left .buttonMoreSlogan .bottom-key-slogan-2 { height: 2px; width: 0.625rem; right: 0.625rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .groups__buttons__left .buttonMoreSlogan:hover { color: #ff5733; background: #f0f0f0; }

.main .groups__buttons__left .buttonMoreSlogan:hover::before { width: 0.9375rem; background: white; }

.main .groups__buttons__left .buttonMoreSlogan:hover .textSlogan { color: #ff5733; padding-left: 1.5em; }

.main .groups__buttons__left .buttonMoreSlogan:hover .top-slogan { left: -2px; width: 0px; }

.main .groups__buttons__left .buttonMoreSlogan:hover .bottom-key-slogan-1, .main .groups__buttons__left .buttonMoreSlogan:hover .bottom-key-slogan-2 { right: 0; width: 0; }

.main .groups__buttons__right .buttonMoreSlogan { background-color: transparent; border: 2px solid #2d2d2d; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #2d2d2d; cursor: pointer; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin: 0; outline: none; overflow: visible; padding: 1.25em 2em; position: relative; text-align: center; text-decoration: none; text-transform: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 13px; }

.main .groups__buttons__right .buttonMoreSlogan::before { content: " "; width: 1.5625rem; height: 2px; background: #2d2d2d; top: 50%; left: 1.5em; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center; transform-origin: center; -webkit-transition: background 0.3s linear, width 0.3s linear; transition: background 0.3s linear, width 0.3s linear; }

.main .groups__buttons__right .buttonMoreSlogan .textSlogan { font-size: 1.125em; line-height: 1.33333em; padding-left: 2em; display: block; text-align: left; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; text-decoration: none; color: #2d2d2d; }

.main .groups__buttons__right .buttonMoreSlogan .top-slogan { height: 2px; width: 1.5625rem; top: -2px; left: 0.625rem; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, left 0.3s ease-out; transition: width 0.5s ease-out, left 0.3s ease-out; }

.main .groups__buttons__right .buttonMoreSlogan .bottom-key-slogan-1 { height: 2px; width: 1.5625rem; right: 1.875rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .groups__buttons__right .buttonMoreSlogan .bottom-key-slogan-2 { height: 2px; width: 0.625rem; right: 0.625rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .groups__buttons__right .buttonMoreSlogan:hover { color: #ff5733; background: #f0f0f0; }

.main .groups__buttons__right .buttonMoreSlogan:hover::before { width: 0.9375rem; background: white; }

.main .groups__buttons__right .buttonMoreSlogan:hover .textSlogan { color: #ff5733; padding-left: 1.5em; }

.main .groups__buttons__right .buttonMoreSlogan:hover .top-slogan { left: -2px; width: 0px; }

.main .groups__buttons__right .buttonMoreSlogan:hover .bottom-key-slogan-1, .main .groups__buttons__right .buttonMoreSlogan:hover .bottom-key-slogan-2 { right: 0; width: 0; }

.main .relations { height: 280vh; }

.main .relations__title { font-size: 1.5em; font-weight: 600; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #100000; }

.main .relations__subtitle { font-size: 0.8em; font-weight: 600; color: #6d6969; padding: 5% 7% 0 7%; }

.main .relations-img__title { letter-spacing: 3px; padding: 110% 0 0 16%; color: #6d6969; font-weight: 600; }

.main .relations__description { color: #6d6969; font-size: 0.8em; line-height: 1.6; word-spacing: 5px; padding: 7% 6% 0 6%; text-align: justify; font-weight: 300; }

.main .relations-img__title3 { letter-spacing: 3px; padding: 110% 0 0 10%; color: #6d6969; font-weight: 600; }

.main .relations__grid { height: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 0.5fr 1.5fr; grid-template-rows: 0.5fr 1.5fr; gap: 0px 0px; grid-auto-flow: row; grid-template-areas: "relations__top" "relations__grid__bottom"; }

.main .relations__grid__top { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: relations__top; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .relations__grid__bottom { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: relations__grid__bottom; margin-top: 10%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .relations__grid__bottom .buttonMoreSlogan { background-color: transparent; border: 2px solid #2d2d2d; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #2d2d2d; cursor: pointer; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin: 0; outline: none; overflow: visible; padding: 1.25em 2em; position: relative; text-align: center; text-decoration: none; text-transform: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 13px; }

.main .relations__grid__bottom .buttonMoreSlogan::before { content: " "; width: 1.5625rem; height: 2px; background: #2d2d2d; top: 50%; left: 1.5em; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center; transform-origin: center; -webkit-transition: background 0.3s linear, width 0.3s linear; transition: background 0.3s linear, width 0.3s linear; }

.main .relations__grid__bottom .buttonMoreSlogan .textSlogan { font-size: 1.125em; line-height: 1.33333em; padding-left: 2em; display: block; text-align: left; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; text-decoration: none; color: #2d2d2d; }

.main .relations__grid__bottom .buttonMoreSlogan .top-slogan { height: 2px; width: 1.5625rem; top: -2px; left: 0.625rem; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, left 0.3s ease-out; transition: width 0.5s ease-out, left 0.3s ease-out; }

.main .relations__grid__bottom .buttonMoreSlogan .bottom-key-slogan-1 { height: 2px; width: 1.5625rem; right: 1.875rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .relations__grid__bottom .buttonMoreSlogan .bottom-key-slogan-2 { height: 2px; width: 0.625rem; right: 0.625rem; bottom: -2px; position: absolute; background: #f0f0f0; -webkit-transition: width 0.5s ease-out, right 0.3s ease-out; transition: width 0.5s ease-out, right 0.3s ease-out; }

.main .relations__grid__bottom .buttonMoreSlogan:hover { color: #ff5733; background: #f0f0f0; }

.main .relations__grid__bottom .buttonMoreSlogan:hover::before { width: 0.9375rem; background: white; }

.main .relations__grid__bottom .buttonMoreSlogan:hover .textSlogan { color: #ff5733; padding-left: 1.5em; }

.main .relations__grid__bottom .buttonMoreSlogan:hover .top-slogan { left: -2px; width: 0px; }

.main .relations__grid__bottom .buttonMoreSlogan:hover .bottom-key-slogan-1, .main .relations__grid__bottom .buttonMoreSlogan:hover .bottom-key-slogan-2 { right: 0; width: 0; }

.main .relations__grid__bottom .css-box-shadow { width: 310px; height: 675px; background: #f8f8f8; border-radius: 5px; box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); }

.main .relations__grid__button { padding: 30% 0 0 19%; }

.main .relations__grid__button2 { padding: 10% 0 0 19%; }

.main .relations__grid__button3 { padding: 8% 0 0 19%; }

.main .relations__grid__img1 { height: 300px; background-image: url(../img/Men3.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; }

.main .relations__grid__img2 { height: 300px; background-image: url(../img/Women.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; }

.main .relations__grid__img3 { height: 300px; background-image: url(../img/Youth.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; }

.main .relations__grid__move { padding-top: 10%; }

.main .give { margin-bottom: 10%; position: relative; }

.main .give__title { -webkit-transform: rotate(90deg); transform: rotate(90deg); padding: 30% 0 20% 0; color: #100000; font-size: 2em; font-weight: 1000; position: absolute; z-index: 15; }

.main .give__subtitle { position: absolute; color: #6d6969; letter-spacing: 2px; font-size: 0.9rem; padding: 2% 0 0 15%; line-height: 20px; z-index: 14; }

.main .give__arrow { position: absolute; z-index: 13; padding: 80% 0 0 60%; }

.main .give__arrow:hover .arrowGive:hover { opacity: 0.65; cursor: pointer; }

.main .give__button { border-radius: 50%; padding: 0.02em 0.1em; background-color: #100000; border-style: solid; cursor: pointer; border-color: #100000; color: #f0f0f0; font-size: 20px; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }

.main .give__img { padding: 8% 0 0 10%; z-index: -10; }

.main .give__img--modify { z-index: -900; position: relative; border-radius: 10px; height: 300px; width: 350px; display: block; box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); }

.main .give .slide-right { width: 100%; overflow: hidden; }

.main .give .slide-right .give__subtitle { -webkit-animation: 2s slide-right; animation: 2s slide-right; }

@-webkit-keyframes slide-right { from { margin-left: -100%;
    width: 300%; }
  to { margin-left: 0%;
    width: 100%; } }

@keyframes slide-right { from { margin-left: -100%;
    width: 300%; }
  to { margin-left: 0%;
    width: 100%; } }

.main .cards { padding: 3%; margin: 3%; height: 210vh; }

.main .cards__button { border-radius: 50%; padding: 0.02rem 0.1rem; background-color: #100000; border-style: solid; cursor: pointer; border-color: #100000; color: #f0f0f0; font-size: 14px; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }

.main .cards__button:hover { opacity: 0.65; }

.main .cards__one { height: 35rem; background-color: #d5d3d2; border-radius: 5px; box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); }

.main .cards__two { height: 35rem; background-color: #d5d3d2; border-radius: 5px; box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); }

.main .cards__three { z-index: -10; height: 35rem; background-color: #d5d3d2; border-radius: 5px; box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1); }

.main .cards__title { font-size: 1.7em; margin: 5% 0 0 25%; }

.main .cards__title__subtitle { text-align: justify; margin-top: 20px; font-size: 16px; }

.main .cards__img1 { margin-top: 25px; margin-left: 10%; border-radius: 20px; height: 12em; width: 16em; }

.main .cards__img2 { margin-top: 25px; margin-left: 10%; border-radius: 20px; height: 12em; width: 16em; }

.main .cards__title2 { font-size: 1.7em; margin: 5% 0 0 25%; }

.main .cards__title2__subtitle { text-align: justify; margin-top: 20px; font-size: 16px; }

.main .cards__img3 { margin-top: 25px; margin-left: 10%; border-radius: 20px; height: 12em; width: 16em; }

.main .cards__title3 { font-size: 1.7em; margin: 5% 0 0 25%; }

.main .cards__title3__subtitle { text-align: justify; margin-top: 20px; font-size: 16px; }

.main .cards__checks { padding-left: 40px; }

.main .cards__harvest { padding-top: 15px; padding-left: 65px; }

.main .cards__direction { font-weight: 800; font-size: 15px; text-align: center; }

.main .cards__box3, .main .cards__box3-1, .main .cards__email { font-weight: 800; }

.main .cards__arrow-give { font-size: 16px; margin-left: 25%; margin-top: 50px; }

.main .cards__button__text { -webkit-transition: 0.3s; transition: 0.3s; }

.main .cards__button__text:hover { cursor: pointer; opacity: 0.65; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

.main .slide-in-right { -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-right { 0% { -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% { -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right { 0% { -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% { -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
/*# sourceMappingURL=styles.css.map */