@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@400;600;868&display=swap");

$header-height: 3rem;

/* ========= COLOR PALETTE ========== */
$orange-color: #ff5733;
$body-color: #f0f0f0;
$black-color: #100000;
$card-give-color: #d5d3d2;

/* ========= COLOR ========== */
$title-color-1: #100000;
$title-color-2: #ffffff;
$sub-title-color: #f0f0f0;
$text-color: #212121;
$nav-color: #8f8f8f;
$nav-color-2: #2d2d2d;
$subtitle-color: #6d6969;
$give-cards: #d5d3d2;

/* ========= FONT & TYPO =========== */

$font-sizes: (
  "smallest": 0.8em,
  "small": 16px,
  "subtitle": 1.2em,
  "normal": 1.5em,
  "medium": 1.7em,
  "big": 2em,
  "biggest": 3em,
  "laptop": 5em,
);

$body-font: "Monserrat", sans-serif;
$title-font: "Work Sans", sans-serif;

/* ======= FONT WEIGHT ======= */

$font-weights: (
  "small": 200,
  "regular": 300,
  "medium": 600,
  "bold": 1000,
);

/*========== Margenes Bottom ==========*/
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-25: 1.25rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
