@import "./reset";
@import "./variables";

// SASS SUPERPOWER

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin groupsImg {
}

@mixin css-box-shadow {
  .css-box-shadow {
    width: 310px;
    height: 675px;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
  }
}

@mixin buttonDark {
  .buttonMoreSlogan {
    background-color: transparent;
    border: 2px solid $body-color;
    border-radius: 5px;
    box-sizing: border-box;
    color: $body-color;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }

  .buttonMoreSlogan::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: $body-color;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }

  .buttonMoreSlogan .textSlogan {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: $body-color;
  }

  .buttonMoreSlogan .top-slogan {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: $nav-color-2;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }

  .buttonMoreSlogan .bottom-key-slogan-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: $nav-color-2;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .buttonMoreSlogan .bottom-key-slogan-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: $nav-color-2;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .buttonMoreSlogan:hover {
    color: #ff5733;
    background: $nav-color-2;
  }

  .buttonMoreSlogan:hover::before {
    width: 0.9375rem;
    background: white;
  }

  .buttonMoreSlogan:hover .textSlogan {
    color: #ff5733;
    padding-left: 1.5em;
  }

  .buttonMoreSlogan:hover .top-slogan {
    left: -2px;
    width: 0px;
  }

  .buttonMoreSlogan:hover .bottom-key-slogan-1,
  .buttonMoreSlogan:hover .bottom-key-slogan-2 {
    right: 0;
    width: 0;
  }
}

@mixin buttonLight {
  .buttonMoreSlogan {
    background-color: transparent;
    border: 2px solid $nav-color-2;
    border-radius: 5px;
    box-sizing: border-box;
    color: $nav-color-2;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }

  .buttonMoreSlogan::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: $nav-color-2;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }

  .buttonMoreSlogan .textSlogan {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: $nav-color-2;
  }

  .buttonMoreSlogan .top-slogan {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: $body-color;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }

  .buttonMoreSlogan .bottom-key-slogan-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: $body-color;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .buttonMoreSlogan .bottom-key-slogan-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: $body-color;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .buttonMoreSlogan:hover {
    color: #ff5733;
    background: $body-color;
  }

  .buttonMoreSlogan:hover::before {
    width: 0.9375rem;
    background: white;
  }

  .buttonMoreSlogan:hover .textSlogan {
    color: #ff5733;
    padding-left: 1.5em;
  }

  .buttonMoreSlogan:hover .top-slogan {
    left: -2px;
    width: 0px;
  }

  .buttonMoreSlogan:hover .bottom-key-slogan-1,
  .buttonMoreSlogan:hover .bottom-key-slogan-2 {
    right: 0;
    width: 0;
  }
}

@mixin blurText {
  .text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

@mixin expand {
  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 10s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@function size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

//  VARIABLES
body {
  font-family: $body-font;
  font-size: size(small);
  background-color: $body-color;
  color: $text-color;
}

h1 {
  color: $title-color-1;
  font-family: $title-font;
  font-weight: weight(bold);
}

//  =========== BOOTSTRAP NAVBAR ================

.main {
  .navbar {
    .navbar-brand {
      font-weight: weight(regular);
      font-size: size(smallest);
      display: flex;
      flex-direction: column;

      @include media-lg {
        font-weight: weight(bold);
        padding-left: 1%;
      }

      @include media-md {
        font-size: size(small);
      }
    }
    &-nav {
      @include media-lg {
        padding-left: 30%;
      }
    }

    .nav-item {
      .nav-link {
        color: $black-color;
        transition: 0.3s ease;
        &:hover {
          color: $orange-color;
          transition: 0.3s ease;
        }
      }
    }
  }

  // HOME SECTION

  .home {
    height: 80vh;

    @include media-md {
      height: 50vh;
    }

    @include media-lg {
      height: 100vh;
    }

    &__container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.1fr 0.9fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "home__text"
        "home__text__subtitle";
    }

    &__text {
      // 1st Grid
      grid-area: home__text;
      font-size: size(big);
      font-weight: weight(bold);
      @include flexCenter(row);
      @include blurText();

      @include media-md {
        font-size: size(biggest);
      }

      @include media-lg {
        font-size: size(laptop);
      }

      // 2dn Grid
      &__subtitle {
        grid-area: home__text__subtitle;
        font-size: size(small);
        font-weight: weight(medium);
        @include blurText;
        margin: 0 1.5em 0 1.5em;

        @include media-lg {
          display: flex;
          justify-content: center;
        }
      }
    }
    &__icons {
      margin-top: 1.5em;

      @include media-lg {
        margin-top: 0;
        margin-left: 1em;
        word-spacing: 5px;
      }
    }

    &__social-link {
      color: $black-color;
    }
  }

  // IMG MIDDLE
  .img {
    height: 37vh;

    @include media-lg {
      height: 90vh;
    }

    &__middle {
      display: block;
      width: 25em;
      margin: 0 auto;
      border-radius: 20px;

      @include media-md {
        width: 28em;
        height: 18em;
      }

      @include media-lg {
        width: 55em;
        height: 35em;
      }
    }
    &__background {
      position: relative;
      z-index: -1;
      height: 12vh;
      background-color: $nav-color-2;
      top: -7%;

      @include media-md {
        height: 15vh;
      }
    }
  }

  // SLOGAN SECTION

  .slogan {
    height: 100vh;
    background-color: $nav-color-2;

    @include media-lg {
      margin-top: 3%;
    }

    &__container {
      height: 100%;

      @include media-lg {
        display: flex;
      }
    }

    &__img {
      .slogan__text {
        color: $title-color-2;
        margin-left: 1.5em;
        font-weight: weight(medium);

        @include media-md {
          font-size: size(subtitle);
        }
      }

      .slogan__title {
        position: relative;
        margin: auto 0;
        margin: 65% 0 0 10%;
        font-weight: weight(bold);
        font-size: size(big);
        color: $title-color-2;

        @include media-md {
          margin: 30% 0 0 15%;
          font-size: size(biggest);
        }

        @include media-lg {
          margin: 3em 0 0 4.5em;
        }
      }

      &__button {
        position: absolute;
        display: block;
        margin-top: 8em;
        margin-left: 8em;
        height: 25em;

        @include media-md {
          height: 35em;
          margin-left: 12em;
        }

        @include media-lg {
          height: 30em;
          margin-top: 1.5em;
          padding-left: 4em;
        }
      }
    }

    &__button {
      @include buttonDark;
      @include flexCenter(column);
      margin-top: 50%;

      @include media-md {
        margin-top: 35%;
      }

      @include media-lg {
        margin-top: 0;
        margin-left: 24em;
      }
    }
  }

  //  STAFF SECTION

  .staff {
    height: 100vh;

    &__container {
      @include media-lg {
        display: flex;
      }
    }

    &__flex {
      display: flex;
      margin-top: 2em;
      gap: 1em;
      flex-direction: row;

      @include media-md {
        margin-top: 15%;
      }

      @include media-lg {
        width: 30em;
      }
    }

    &__subtitle {
      margin: 1.5em 0 0 1.5em;
      font-weight: weight(medium);

      @include media-md {
        font-size: size(subtitle);
      }
    }
    &__title {
      font-size: size(big);
      font-weight: weight(bold);
      margin-left: 1em;

      @include media-md {
        font-size: size(biggest);
      }
    }
    &__description {
      text-align: justify;
      margin-right: 1em;

      @include media-md {
        font-size: size(subtitle);
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      @include buttonLight;
      margin-top: 2em;

      @include media-md {
        margin-top: 10%;
      }
    }

    &__right {
      display: flex;
      justify-content: space-around;
      margin-top: 3em;

      @include media-md {
        margin-top: 15%;
        justify-content: space-evenly;
      }

      @include media-lg {
        width: 100%;
      }

      &__img1 {
        height: 20em;
        border-radius: 5px;
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
          6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
          12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
          22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
          41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
          100px 100px 80px rgba(0, 0, 0, 0.07);

        @include media-lg {
          height: 25em;
        }
      }

      &__img2 {
        border-radius: 5px;
        opacity: 0.65;
        height: 15em;

        @include media-lg {
          height: 20em;
        }
      }
    }
  }

  //  FOOTER SECTION

  .footer-03 {
    padding-top: 2em;
    background-color: $nav-color-2;
    height: 120vh;

    @include media-md {
      height: 50vh;
    }

    @include media-lg {
      height: 80vh;
    }
  }

  .footer-heading {
    color: $body-color;
  }

  .py-1 {
    color: $body-color;
  }

  .ftco-footer-social {
    display: flex;
    gap: 1.5em;
  }

  .footer__icon {
    color: $orange-color;
  }

  .footer__terms {
    color: $orange-color;
  }

  .footer__subs__button {
    background-color: $orange-color;
    border: $orange-color;
    color: $body-color;
  }

  // ============ ABOUT SECTION ==========

  .about {
    height: 60vh;
    background-image: url("../img/About.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &__body {
      height: 100vh;
    }

    &__grid {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1.7fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "aboutTitleSection"
        "aboutButtons";
    }

    &__title__section {
      grid-area: aboutTitleSection;
      padding: 10% 0 0 12%;
      @include expand;
    }

    &__title {
      color: $title-color-1;
      font-size: size(small);
      font-weight: weight(bold);
    }

    &__subtitle {
      padding-top: 1em;
    }

    &__buttons {
      grid-area: aboutButtons;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      @include buttonLight;

      @include media-lg {
        display: flex;
        flex-direction: row;
      }
    }

    @include media-md {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  // =============== CONNECT SECTION ============
  .connect {
    height: 60vh;
    background-image: url("../img/Connect.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;

    &__body {
      height: 100vh;
    }

    &__grid {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "connect__title__section"
        "connect__card1"
        "connect__card2"
        "connect__card3";
    }

    &__flex {
      @include media-lg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10em;
      }
    }

    &__title__section {
      grid-area: connect__title__section;
      padding: 5.5% 0 0 12%;
    }

    &__title {
      color: $title-color-1;
      font-size: size(regular);
      font-weight: weight(medium);
      @include expand;
    }

    &__card1 {
      grid-area: connect__card1;
      @include flexCenter(row);
    }

    &__card2 {
      grid-area: connect__card2;
      @include flexCenter(row);
    }

    &__card3 {
      grid-area: connect__card3;
      @include flexCenter(row);
    }
    &__btn {
      border: none;
      width: 295px;
      height: 250px;
      border-radius: 10px;
      cursor: pointer;
      background-size: 200%;
      transition: 0.6s;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
      &1 {
        background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c);
      }
      &2 {
        background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c);
      }
      &3 {
        background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c);
      }

      &__title {
        color: $body-color;
        font-size: size(normal);
        font-weight: weight(medium);
      }
      &__subtitle {
        color: $body-color;
        letter-spacing: 0.3em;
        font-size: size(smallest);
        font-weight: weight(medium);
        padding-top: 5%;
      }
    }

    &__btn:hover {
      background-position: right;
    }
  }

  // =============== GROUPS SECTION =============

  .groups {
    height: 60vh;
    background-image: url("../img/Groups.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;

    &__slogan {
      height: 60vh;
    }

    &__grid__slogan {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "groups__grid__title"
        "groups__buttons";
    }

    &__title {
      padding-top: 10%;
      color: $title-color-1;
      font-size: size(medium);
      font-weight: weight(medium);
    }
    &__subtitle {
      color: $subtitle-color;
      text-align: justify;
      letter-spacing: 0.1em;
      font-size: size(smallest);
      line-height: 1.6;
      font-weight: weight(medium);
      padding: 5% 7% 0 7%;
    }
    &__grid__title {
      grid-area: groups__grid__title;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include expand;
    }

    &__buttons {
      grid-area: groups__buttons;
      @include flexCenter(column);
      flex-direction: column;
      justify-content: space-around;

      @include media-lg {
        display: flex;
        flex-direction: row;
      }

      &__left {
        color: #ff5733;
        @include buttonLight;
      }

      &__right {
        @include buttonLight;
      }
    }
  }
  // ========= RELATIONS SECTION ==========

  .relations {
    height: 280vh;

    @include media-lg {
      height: 170vh;
    }

    &__title {
      font-size: size(normal);
      font-weight: weight(medium);
      justify-content: center;
      color: $title-color-1;
    }

    &__subtitle {
      font-size: size(smallest);
      font-weight: weight(medium);
      color: $subtitle-color;
      padding: 5% 7% 0 7%;
    }

    &-img__title {
      letter-spacing: 3px;
      padding: 110% 0 0 16%;
      color: $subtitle-color;
      font-weight: weight(medium);
    }

    &__description {
      color: $subtitle-color;
      font-size: size(smallest);
      line-height: 1.6;
      word-spacing: 5px;
      padding: 7% 6% 0 6%;
      text-align: justify;
      font-weight: weight(regular);
    }

    &-img__title3 {
      letter-spacing: 3px;
      padding: 110% 0 0 10%;
      color: $subtitle-color;
      font-weight: weight(medium);
    }

    &__grid {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1.5fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "relations__top"
        "relations__grid__bottom";

      @include media-lg {
        grid-template-rows: 0.3fr 1.7fr;
      }

      &__top {
        grid-area: relations__top;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }

      &__bottom {
        grid-area: relations__grid__bottom;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include buttonLight;
        @include css-box-shadow;

        @include media-lg {
          margin-top: -10%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }

      &__button {
        padding: 30% 0 0 19%;
      }

      &__button2 {
        padding: 10% 0 0 19%;
      }

      &__button3 {
        padding: 8% 0 0 19%;
      }

      &__img1 {
        height: 300px;
        background-image: url(../img/Men3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &__img2 {
        height: 300px;
        background-image: url(../img/Women.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &__img3 {
        height: 300px;
        background-image: url(../img/Youth.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &__move {
        padding-top: 10%;

        @include media-lg {
          padding-top: 0;
        }
      }
    }
  }

  // ========= GIVE SECTION ==========

  .give {
    margin-bottom: 10%;
    position: relative;

    &__title {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      padding: 30% 0 20% 0;
      color: $title-color-1;
      font-size: size(big);
      font-weight: weight(bold);
      position: absolute;
      z-index: 15;

      @include media-md {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 30% 0 20% 5%;
        color: $title-color-1;
        font-size: size(big);
        font-weight: weight(bold);
        position: absolute;
        z-index: 15;
      }

      @include media-lg {
        font-size: size(laptop);
        padding: 10% 0 0 10%;
      }
    }

    &__subtitle {
      position: absolute;
      color: $subtitle-color;
      letter-spacing: 2px;
      font-size: 0.9rem;
      padding: 2% 0 0 15%;
      line-height: 20px;
      z-index: 14;

      @include media-md {
        padding: 50% 0 0 5%;
      }

      @include media-lg {
        padding: 30% 0 0 10%;
      }
    }

    &__arrow {
      position: absolute;
      z-index: 13;
      padding: 80% 0 0 60%;

      &:hover {
        .arrowGive:hover {
          opacity: 0.65;
          cursor: pointer;
        }
      }

      @include media-md {
        padding: 50% 0 0 60%;
      }

      @include media-lg {
        padding: 35% 0 0 10%;
      }
    }

    &__button {
      border-radius: 50%;
      padding: 0.02em 0.1em;
      background-color: #100000;
      border-style: solid;
      cursor: pointer;
      border-color: #100000;
      color: $body-color;
      font-size: 20px;
      transition-duration: 0.4s;
    }

    &__img {
      padding: 8% 0 0 20%;
      z-index: -10;

      @include media-md {
        padding: 8% 0 0 30%;
      }
    }

    &__img--modify {
      z-index: -900;
      position: relative;
      border-radius: 10px;
      height: 300px;
      width: 350px;
      display: block;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

      @include media-md {
        width: 400px;
      }

      @include media-lg {
        height: 25em;
        width: 30em;
      }
    }

    .slide-right {
      width: 100%;
      overflow: hidden;
    }
    .slide-right .give__subtitle {
      animation: 2s slide-right;
    }

    @keyframes slide-right {
      from {
        margin-left: -100%;
        width: 300%;
      }

      to {
        margin-left: 0%;
        width: 100%;
      }
    }
  }

  /* Options Sections */

  .cards {
    padding: 3%;
    margin: 3%;
    height: 210vh;

    @include media-md {
      margin-top: 20%;
      height: 180vh;
    }

    @include media-lg {
      height: 100vh;
      margin-top: 0;
    }

    &__button {
      border-radius: 50%;
      padding: 0.02rem 0.1rem;
      background-color: #100000;
      border-style: solid;
      cursor: pointer;
      border-color: #100000;
      color: $body-color;
      font-size: 14px;
      transition-duration: 0.4s;

      &:hover {
        opacity: 0.65;
      }
    }

    &__one {
      height: 35rem;
      background-color: $give-cards;
      border-radius: 5px;
      box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
    }

    &__two {
      height: 35rem;
      background-color: $give-cards;
      border-radius: 5px;
      box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
    }

    &__three {
      z-index: -10;
      height: 35rem;
      background-color: $give-cards;
      border-radius: 5px;
      box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
    }

    &__title {
      font-size: size(medium);
      margin: 5% 0 0 30%;

      @include media-lg {
        margin: 5% 0 0 20%;
      }

      &__subtitle {
        text-align: justify;
        margin-top: 20px;
        font-size: size(small);
      }
    }

    &__img1 {
      margin-top: 25px;
      margin-left: 15%;
      border-radius: 20px;
      height: 12em;
      width: 16em;

      @include media-lg {
        margin-left: 0%;
      }
    }

    &__img2 {
      margin-top: 25px;
      margin-left: 15%;
      border-radius: 20px;
      height: 12em;
      width: 16em;

      @include media-lg {
        margin-left: 0%;
      }
    }

    &__title2 {
      font-size: size(medium);
      margin: 5% 0 0 30%;

      @include media-lg {
        margin: 5% 0 0 20%;
      }

      &__subtitle {
        text-align: justify;
        margin-top: 20px;
        font-size: size(small);
      }
    }

    &__img3 {
      margin-top: 25px;
      margin-left: 15%;
      border-radius: 20px;
      height: 12em;
      width: 16em;

      @include media-lg {
        margin-left: 0%;
      }
    }

    &__title3 {
      font-size: size(medium);
      margin: 5% 0 0 30%;

      @include media-lg {
        margin: 5% 0 0 20%;
      }

      &__subtitle {
        text-align: justify;
        margin-top: 20px;
        font-size: size(small);
      }
    }

    &__checks {
      padding-left: 27%;

      @include media-lg {
        padding-left: 15%;
      }
    }

    &__harvest {
      padding-top: 15px;
      padding-left: 30%;

      @include media-lg {
        padding-left: 20%;
      }
    }

    &__direction {
      font-weight: 800;
      font-size: 15px;
      padding-left: 7%;

      @include media-lg {
        padding: 0;
      }
    }

    &__box3,
    &__box3-1,
    &__email {
      font-weight: 800;
    }
    &__arrow-give {
      font-size: size(small);
      margin-left: 25%;
      margin-top: 50px;
    }
    &__button__text {
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.65;
        transition: 0.3s ease;
      }
    }
  }
  .slide-in-right {
    -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
