@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@400;600;868&display=swap");

:root {
  --header-height: 3rem;

  /* ========= COLOR ========== */
  --title-color-1: #100000;
  --title-color-2: #ffffff;
  --sub-title-color: #f0f0f0;
  --body-color: #f0f0f0;
  --text-color: #212121;
  --nav-color: #8f8f8f;
  --nav-color-2: #2d2d2d;
  --black-color: #100000;

  /* ========= FONT & TYPO =========== */

  --body-font: "Monserrat", sans-serif;
  --title-font: "Work Sans", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.8rem;

   /*========== Margenes Bottom ==========*/
   --mb-0-25: 0.25rem;
   --mb-0-5: 0.5rem;
   --mb-0-75: 0.75rem;
   --mb-1: 1rem;
   --mb-1-25: 1.25rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
   --mb-2-5: 2.5rem;
 

  /* ======= FONT WEIGHT ======= */
  --font-medium: 200;
  --font-semi-med:300;
  --font-semi-bold: 600;
  --font-bold: 1000;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  --sammel-font-size: 0.75rem;

  /* ======= Z INDEX =========== */
  --z-fixed: 100;
}


/* ========= BASE ============== */

* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--title-color-1);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  overflow-x: hidden;
}
/*=============== REUSABLE CSS CLASSES ===============*/


.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 100%;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}



/* ========= HEADER ========= */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21.5px 10%;
  /* background-color: salmon; */
}

.nav__list li{
  display: inline-block;
  padding: 0px 20px;
}

.navButton{
  border-radius: 15%;
  padding: 0.8rem 0.9rem;
  background-color: #100000;
  border-style: solid;
  cursor: pointer;
  border-color: #100000;
  color: var(--body-color);
  font-size: 20px;
  transition-duration: 0.4s;
}

.navButton:hover{
  background-color: var(--body-color);
  transition: all 0.4s ease;
  border-color: var(--black-color);
  border-style: solid;
  color: #FF5733;
}

.nav__logo {
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}

.nav__link {
  color: var(--nav-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  font-size: 12px;
}

.nav__link:hover {
  color: #FF5733;
  transition: all 1s ease;
}

/* Active link */
.active-link {
  position: relative;
  color: #FF5733;
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
}

/* ========= HOME ========== */
.home__container {
  position: relative;
  height: 80vh;
  align-content:center;
  grid-template-rows: 1.8fr 0.5fr;
  row-gap: 3rem;
  
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__social-link
{
  color: var(--black-color);
}

.home__data{
  align-self: flex-end;
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__data-title {
  padding: 10% 0 0 20%;
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2-5);
  
}

.home__social {
  padding:4% 0 0 20%;
  display: flex;
  align-self: flex-end;
  flex-direction:row;
  column-gap: 5px;
  margin-bottom: 3rem;
}

.icons{
  padding-left: 5%;
}

.home__social-link  {
  font-size: 1.2rem;
  width: max-content;
  
}

/* ========  MEDIA ========= */



.video .img{

  display: block;
border-radius: 25px;
height: 580px;
width: 64%;
margin-left: auto;
margin-right: auto;

}

.background{
  width: 50%;
  background-color: red;
}

/* ========= SLOGAN ========= */
.sloganPhrase{
  background-color: var(--nav-color-2);
  
}

.sloganContainer{
  align-items: center;
  height: 700px;
}

.sloganData {
  text-align: center;
}

.sloganData {
  row-gap: 2.5rem;
}

.subtitleText{
  font-weight: var(--font-semi-bold);
  color: var(--title-color-2);
  letter-spacing: 13px;
  padding: 9.8% 0 0 11.5%;
}
.imgSlogan .img{
  display:block;
  margin-right: auto;
  margin-left: auto;
  height: 450px;
}

.titleImg{
  position: absolute;
  top:260%;
  left: 40.5%;
  transform: translate(-50%, -50%);
  color: var(--title-color-2);
  font-size: 5rem;
  font-weight: var(--font-bold);  
}

/* ========= STAFF ========= */

.staffGroup{
  height: 135vh;
  
}

.staffContainer{
  display: flex;
  gap: 125px;
  
  padding: 40px 0;
  margin: auto;
  height: 100%;
  
}

.leftBox{
  padding-top: 11%;
  
  width: 41%;
  
}

.rightBox{
  display: flex;
  width: 40.7%;
  background-image: url('/img/Staff.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right ;
  height: 600px;
  background-size: contain;
  opacity: 0.65;
}

.staffImg{
  margin-top: 198px;
  height: 511px;
  border-radius: 20px;
  opacity: 1;
}

.staffImgBack{
  height: 511px;
  opacity: 0.65;
  background: rgb(250, 250, 250);
}

.subtitleStaff{
  text-align: center;
  font-weight: var(--font-semi-bold);
  color: var(--title-color-1);
  letter-spacing: 10px;
  padding-left: 11.7%;
}

.titleStaff{
  text-align: center;
  color: var(--title-color-1);
  font-size: 5rem;
  font-weight: var(--font-bold); 
  padding-left: 11.7%;
}

.staffDescription{
  padding-left: 30%;
  text-align: justify;
  font-size: 1.2rem;
  word-spacing: 9.5px;
  line-break: 20px;
  line-height: 150%;
}

/* ========= FOOTER ========= */

.footerSection{
  height: 80vh;
  background-color: var(--nav-color-2);
  
}

.footerContainer{
  
  height: 100%;
  
}

.footerContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.footerData1{
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  
  height: 20%;
}

.footerData2{
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  
  height: 20%;
}

.footerData3{
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  
  height: 20%;
}

.footerData4{
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  
  height: 20%;
}

.footerData5{
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  align-content: center;
  height: 20%;
}

.footerLink{
  color: var(--sub-title-color);
}

.footerSubtitle{
  font-weight: var(--font-medium);
  font-size: 15px;
}

/* ========= TABLE ========= */

table {
  width: 50%;
}

.table th,
td {
  border: 1px solid black;
}

.title {
  color: #596554;
}
