@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@400;600;868&display=swap");

:root {
  --header-height: 3rem;

  /* ========= COLOR ========== */
  --title-color-1: #100000;
  --title-color-2: #ffffff;
  --sub-title-color: #f0f0f0;
  --body-color: #f0f0f0;
  --text-color: #212121;
  --nav-color: #8f8f8f;
  --nav-color-2: #2d2d2d;
  --black-color: #100000;

  /* ========= FONT & TYPO =========== */

  --body-font: "Monserrat", sans-serif;
  --title-font: "Work Sans", sans-serif;
  --biggest-font-size: 5rem;
  --medium-font-size: 3rem;
  --small-font-size: 2rem;
  --h1-font-size: 1.8rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* ======= FONT WEIGHT ======= */
  --font-medium: 200;
  --font-semi-med: 300;
  --font-semi-bold: 600;
  --font-bold: 1000;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  --sammel-font-size: 0.75rem;

  /* ======= Z INDEX =========== */
  --z-fixed: 100;
}

/* ========= BASE ============== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--title-color-1);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  overflow-x: hidden;
}
/*=============== REUSABLE CSS CLASSES ===============*/

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 100%;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ========= HEADER ========= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21.5px 10%;
}

nav {
  z-index: 1;
}

.nav__list {
  font-size: 0;
}

.nav__list li {
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}

.navButton {
  border-radius: 15%;
  padding: 0.8rem 0.9rem;
  background-color: #100000;
  border-style: solid;
  cursor: pointer;
  border-color: #100000;
  color: var(--body-color);
  font-size: 20px;
  transition-duration: 0.4s;
}

.navButton:hover {
  background-color: var(--body-color);
  transition: all 0.4s ease;
  border-color: var(--black-color);
  border-style: solid;
  color: #ff5733;
}

.nav__logo {
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}

.nav__link {
  color: var(--nav-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  font-size: 12px;
}

.nav__link,
.subLink {
  color: var(--nav-color);
  font-weight: var(--font-semi-bold);
  font-size: 12px;
}

.nav__link {
  display: block;
  padding: 20px;
}

.nav__link:hover {
  color: #ff5733;
  transition: all 1s ease;
}

/* ========= SUB-MENU =========== */

.nav__list .subMenu {
  position: absolute;
  display: none;
}

.nav__list .subMenu .navList {
  display: block;
}

.nav__list .nav__item:hover .subMenu {
  display: block;
  position: absolute;
}

.nav__list .nav__item .subMenu {
  min-width: 200px;
}

.subLink {
  display: block;
  padding-top: 10px;
  background-color: var(--body-color);
}

.subLink:hover {
  color: #ff5733;
  transition: all 1s ease;
}

/* Active link */
.active-link {
  position: relative;
  color: #ff5733;
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
}

/* ========= HOME ========== */

.home {
  height: 80vh;
}
.homeContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 0.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "homeData"
    "homeSocial";
}

.homeData {
  grid-area: homeData;
}

.home__data-title {
  padding: 5% 0 0 13%;
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2-5);
}

.text-focus-in {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.homeSocial {
  grid-area: homeSocial;
  padding: 3.4% 0 0 13%;
  display: flex;
}

.home__data-subtitle {
  letter-spacing: 3px;
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.icons {
  padding-left: 5%;
}

.home__social-link {
  color: var(--black-color);
  font-size: 1.2rem;
  width: max-content;
}

/* ============ MIDDLE IMG ============ */
.imgMiddle {
  height: 100vh;
}

.imgMiddle .img {
  position: relative;
  display: block;
  border-radius: 25px;
  height: 580px;
  width: 64%;
  margin-left: auto;
  margin-right: auto;
}

.backgGround {
  z-index: -1;
  top: -7.6%;
  position: relative;
  left: 0px;
  width: 100%;
  height: 13%;
  background-color: var(--nav-color-2);
}

/* ============ SLOGAN ================ */
.sloganSection {
  height: 100vh;
}

.sloganContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imgSlogan buttonSlogan";
}

.imgSlogan {
  grid-area: imgSlogan;
  background-color: var(--nav-color-2);
  height: 64.9%;
}

.sloganData {
  text-align: center;
  row-gap: 2.5rem;
  padding-top: 5%;
  /* height: 100%; */
}

.imgSlogan .img {
  display: block;
  margin-right: 3%;
  margin-left: auto;
  height: 500px;
  border-radius: 10px;
}

.subtitleText {
  font-weight: var(--font-semi-bold);
  color: var(--title-color-2);
  letter-spacing: 13px;
  padding: 5% 0 0 11.5%;
}

.titleImg {
  position: relative;
  bottom: 450px;
  left: 8.5%;
  color: var(--title-color-2);
  font-size: 5rem;
  font-weight: var(--font-bold);
}

.buttonSlogan {
  grid-area: buttonSlogan;
  background-color: var(--nav-color-2);
  height: 64.9%;
}

.buttonImgSlogan {
  z-index: 100;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--nav-color-2);
  color: var(--title-color-2);
  border: 2px solid var(--sub-title-color);
}

.buttonImgSlogan:hover {
  background-color: #555555;
  color: white;
}

/* =========== BUTTON TRANSITION ============ */
.button-more-slogan {
  padding: 90% 0 0 10%;
}

.buttonMoreSlogan {
  background-color: transparent;
  border: 2px solid var(--body-color);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--body-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.buttonMoreSlogan::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: var(--body-color);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.buttonMoreSlogan .textSlogan {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--body-color);
}

.buttonMoreSlogan .top-slogan {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: var(--nav-color-2);
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.buttonMoreSlogan .bottom-key-slogan-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--nav-color-2);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.buttonMoreSlogan .bottom-key-slogan-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--nav-color-2);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.buttonMoreSlogan:hover {
  color: #ff5733;
  background: var(--nav-color-2);
}

.buttonMoreSlogan:hover::before {
  width: 0.9375rem;
  background: white;
}

.buttonMoreSlogan:hover .textSlogan {
  color: #ff5733;
  padding-left: 1.5em;
}

.buttonMoreSlogan:hover .top-slogan {
  left: -2px;
  width: 0px;
}

.buttonMoreSlogan:hover .bottom-key-slogan-1,
.buttonMoreSlogan:hover .bottom-key-slogan-2 {
  right: 0;
  width: 0;
}

/* ========= STAFF ========= */

.staffGroup {
  height: 135vh;
}

.staffContainer {
  display: flex;
  gap: 125px;
  padding: 40px 0;
  margin: auto;
  height: 100%;
}

.leftBox {
  padding-top: 11%;
  width: 41%;
}

.buttonLeaders {
  padding: 10% 0 0 30%;
}

.buttonLead {
  background-color: var(--nav-color-2);
  color: var(--title-color-2);
  border: 2px solid var(--nav-color-2);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

.buttonLead:hover {
  background-color: var(--body-color);
  color: var(--nav-color-2);
}

.rightBox {
  display: flex;
  width: 40.7%;
  height: 600px;
  background-size: contain;
}

.staffImg {
  margin-top: 198px;
  height: 511px;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.staffImg2 {
  z-index: -10;
  position: relative;
  right: 100px;
  margin-top: 100px;
  height: 511px;
  opacity: 0.65;
  border-radius: 20px;
}

.staffImgBack {
  height: 511px;
  opacity: 0.65;
  background: rgb(250, 250, 250);
}

.subtitleStaff {
  text-align: center;
  font-weight: var(--font-semi-bold);
  color: var(--title-color-1);
  letter-spacing: 10px;
  padding-left: 11.7%;
}

.titleStaff {
  text-align: center;
  color: var(--title-color-1);
  font-size: 5rem;
  font-weight: var(--font-bold);
  padding-left: 11.7%;
}

.staffDescription {
  padding-left: 30%;
  text-align: justify;
  font-size: 1.2rem;
  word-spacing: 9.5px;
  line-height: 150%;
}

/* =========== BUTTON TRANSITION ============ */
.buttonStaff {
  padding: 10% 0 0 30%;
}

.buttonMore {
  background-color: transparent;
  border: 2px solid var(--nav-color-2);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--body-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.buttonMore::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.buttonMore .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.buttonMore .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: var(--body-color);
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.buttonMore .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--body-color);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.buttonMore .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--body-color);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.buttonMore:hover {
  color: #ff5733;
  background: black;
}

.buttonMore:hover::before {
  width: 0.9375rem;
  background: white;
}

.buttonMore:hover .text {
  color: #ff5733;
  padding-left: 1.5em;
}

.buttonMore:hover .top-key {
  left: -2px;
  width: 0px;
}

.buttonMore:hover .bottom-key-1,
.buttonMore:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* ========= FOOTER ========= */

.footerSection {
  height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(67, 67, 67, 1) 100%
  );
}

.footerContainer {
  height: 100%;
}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  grid-template-rows: 0.8fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footerData1 footerData3 footerData5"
    "footerData2 footerData4 footerData6";
}

.footerData1 {
  grid-area: footerData1;
  text-transform: uppercase;
  padding: 15% 0 0 47.5%;
}

.footerTitle {
  padding-bottom: 20px;
}

.footerSubtitle {
  color: var(--sub-title-color);
}

.footerLink {
  font-weight: var(--font-semi-bold);
}

.footerData2 {
  grid-area: footerData2;
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  padding: 1% 0 0 47.5%;
}

.footerData3 {
  grid-area: footerData3;
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  padding: 17% 0 0 18%;
}

.footerData4 {
  grid-area: footerData4;
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  padding: 15% 0 0 18%;
}

.footerData6 {
  grid-area: footerData5;
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  padding: 11% 0 0 0.5%;
}

.footerData5 {
  grid-area: footerData6;
  font-weight: var(--font-semi-bold);
  color: var(--sub-title-color);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.iconsFooter {
  align-items: flex-start;
}

.footerLink {
  color: var(--sub-title-color);
}

.footerSocial {
  display: flex;
  flex-direction: row;
}
.imgFooter {
  height: 60px;
}

.footerRight {
  padding: 5px 0 0 30px;
  display: flex;
  flex-direction: column;
}

.rights {
  letter-spacing: 3px;
  font-weight: var(--font-medium);
  color: var(--sub-title-color);
  font-size: 22px;
}

.iconsFooter {
  padding-top: 15px;
}

.footerIcon {
  color: var(--body-color);
  font-size: 1.2rem;
}

.footerLast {
  padding-top: 27px;
}

.footerSubtitle {
  font-weight: var(--font-medium);
  font-size: 15px;
}

/*  ============= ABOUT SECTION ============ */
.aboutHome {
  height: 60vh;
  background-image: url("../img/About.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ============== ABOUT BODY SECTION ========== */
.aboutBody {
  height: 70vh;
}

.aboutGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "aboutTitleSection"
    "aboutButtons";
}

.aboutTitleSection {
  grid-area: aboutTitleSection;
  padding: 5.5% 0 0 12%;
}

.aboutTitle {
  color: var(--title-color-1);
  font-size: var(--medium-font-size);
  font-weight: var(--font-bold);
}

.aboutButtons {
  grid-area: aboutButtons;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutSubtitle {
  letter-spacing: 2px;
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* ================= CONNECT HOME ============== */
.connectSection {
  height: 60vh;
  background-image: url("../img/Connect.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* =============== CONNECT BODY ============ */

.connectBody {
  height: 100vh;
}

.connectGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "connectTitleSection"
    "connectCards";
}

.connectTitleSection {
  grid-area: connectTitleSection;
  padding: 5.5% 0 0 12%;
}

.connectTitle {
  color: var(--title-color-1);
  font-size: var(--medium-font-size);
  font-weight: var(--font-bold);
}

.connectCards {
  grid-area: connectCards;
  display: flex;
  flex-direction: row;
  padding-top: 1.6%;
  justify-content: space-evenly;
}

.btn {
  border: none;
  width: 295px;
  height: 295px;
  border-radius: 10px;
  cursor: pointer;
  background-size: 200%;
  transition: 0.6s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.btn1 {
  background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c);
}

.btn2 {
  background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c);
}

.btn3 {
  background-image: linear-gradient(to left, #1e130c, #9a8478, #1e130c);
}

.btn:hover {
  background-position: right;
}

.btnTitle {
  color: var(--body-color);
  font-size: 2rem;
  font-weight: var(--font-bold);
}

.btnSubtitle {
  color: #d2d2d2;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
  padding-top: 10%;
}

/*  ============= GROUPS HOME ============== */
.groupsHome {
  height: 60vh;
  background-image: url("../img/Groups.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.groups-slogan-container {
  height: 90vh;
  /* background-color: teal; */
}

.groups-grid-slogan {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sloganTitle"
    "groupsButtons";
}

.sloganTitle {
  background-color: teal;
  grid-area: sloganTitle;
}

.slogan-title {
  color: var(--title-color-1);
  font-size: var(--medium-font-size);
  font-weight: var(--font-bold);
}

.sloganSubtitle {
  color: #d2d2d2;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
  padding-top: 10%;
}

.groupsButtons {
  background-color: tomato;
  grid-area: groupsButtons;
}
